.task-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  height: 2rem;
  background-color: #fff;
  gap: 0.5%;
  border-radius: 2px;
  box-shadow: 1px 1px  rgba(0,0,0,0.1);
  
}

.hidden-checkbox {
  visibility: hidden;
  cursor: pointer;
}

.task-item:hover .hidden-checkbox{
  visibility: visible;
}

/* When showAllCheckboxes is true, make all checkboxes visible */
.hidden-checkbox.visible {
  visibility: visible;
}

.task-item:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}
.category:hover, .status:hover {
  cursor: pointer;
}

.id {
  width: 5%;
}

.task {
  width: 60%;
  margin: 0;
}

.task:hover {
  text-decoration: underline;
}

.category {
  font: inherit;
  background: none;
  border: none;
  width: 10%;
}

.status {
  font: inherit;
  font-size: 0.9rem;
  background: none;
  border: none;
  width: fit-content;
}

.assignee {
  width: fit-content;
}

.priority {
  width: 5%;
}

.task-item .task-status {
  font-size: auto;
}


.status-in-progress {
  color: green; 
}

.status-past-due {
  color: red; 
}

.task-item .task-info {
}

.task-item p {
  margin: 0;
  font-size: 0.9rem;
  color: black;
}

.task-list-heading {
  color: #333; 
  margin-top: 20px;
  
}

.material-symbols-outlined {
  border: none;
  background: none;
  padding: 0;
}

.material-symbols-outlined:hover {
  background: #b9b9b9;
  cursor: pointer;
}